@charset "utf-8";

.wrap {
	width: 100%; position: relative;
}
.wrap > .imagebox {
	width: 55%; margin: 50px auto;
}
.wrap > .btn {
	text-align: center; position: absolute;
	bottom: 3%; left: 35%;
}
.wrap > .btn > div {
 float: left; margin:0 50px; display: block; width: 180px; height: 40px; 
 background: #fff; border: 1px solid #111; text-align: center;
	line-height: 40px;
}
.wrap > .btn > div > a {
	font-size: 14px; text-decoration: none; color: #111; display: block;
}
.wrap > .btn > div:hover {
	background: #333;
}
.wrap > .btn > div:hover a {
	color: #fff;
}

