@charset "utf-8";

html, body {
	width: 100%; height: 100%; font-family: 'Anton', sans-serif;
}
.wrap {
	width: 100%; height: 100%;
}
header {
	width: 100%; height: 18%;
	background-color: #000;
	position: fixed; 
}
header > h1 {
	font-size: 86px;
	color: #fff; left: 50px; top:50px;
	position: absolute;
}
nav {
		position: absolute; top: 28px; right: 20px;
}
nav > a {
		color: #fff;
}
article {
	width: 100%; height: 5218px; top:18%; position: relative;
	background-color: #ffbb00; text-align: center;
}
article > div {
	width: 180px; height: 40px; background-color: #111; padding: 10px 20px;
	margin: 0 auto; line-height: 40px; position: relative;
	bottom: 200px;
}
article > div > a {
	text-decoration: none; color: #fff; font-size: 14px;
	display: block;
}

