@charset "utf-8";

.wrap {
	width: 100%; position: relative;
}
.wrap > .imagebox {
	width: 55%; margin: 50px auto;
}
.wrap > .btn > div {
	display: block; width: 120px; height: 40px; background: #fff;
	position: absolute; left: 45%; bottom: -1%;
	border: 1px solid #111; text-align: center;
	line-height: 40px;
}
.wrap > .btn > div > a {
	font-size: 14px; text-decoration: none; color: #111; display: block;
}
.wrap > .btn > div:hover {
	background: #333;
}
.wrap > .btn > div:hover a {
	color: #fff;
}
